.footer
	padding-bottom: 15px
	&-topline
		line-height: 1.5
		.about-text
			margin-bottom 40px
			text-align: justify
			+above($screen-sm)
				text-align: left
				margin-right: -50px
	&-bottom
		line-height: 1.8
		&-left
			display: inline-block
		&-right
			float: right
			text-align: right
	.copyright
		display: inline-block
		span
			display: block
			+above($screen-sm)
				display: inline
	.made-by
		a
			text-decoration: none
			display: block
			+above($screen-sm)
				display: inline

.mainpage-footer
	margin-top: 40px
	+above($screen-sm)
		position: absolute
		left 0
		bottom 0
		width: 100%