/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$a_name = 'a';
$a_x = 66px;
$a_y = 228px;
$a_offset_x = -66px;
$a_offset_y = -228px;
$a_width = 17px;
$a_height = 16px;
$a_total_width = 296px;
$a_total_height = 281px;
$a_image = '../images/sprites/sprites.png';
$a = 66px 228px -66px -228px 17px 16px 296px 281px '../images/sprites/sprites.png' 'a';
$arr_down_name = 'arr-down';
$arr_down_x = 237px;
$arr_down_y = 141px;
$arr_down_offset_x = -237px;
$arr_down_offset_y = -141px;
$arr_down_width = 12px;
$arr_down_height = 7px;
$arr_down_total_width = 296px;
$arr_down_total_height = 281px;
$arr_down_image = '../images/sprites/sprites.png';
$arr_down = 237px 141px -237px -141px 12px 7px 296px 281px '../images/sprites/sprites.png' 'arr-down';
$arr_left_name = 'arr-left';
$arr_left_x = 261px;
$arr_left_y = 130px;
$arr_left_offset_x = -261px;
$arr_left_offset_y = -130px;
$arr_left_width = 19px;
$arr_left_height = 37px;
$arr_left_total_width = 296px;
$arr_left_total_height = 281px;
$arr_left_image = '../images/sprites/sprites.png';
$arr_left = 261px 130px -261px -130px 19px 37px 296px 281px '../images/sprites/sprites.png' 'arr-left';
$arr_medium_down_name = 'arr-medium-down';
$arr_medium_down_x = 203px;
$arr_medium_down_y = 141px;
$arr_medium_down_offset_x = -203px;
$arr_medium_down_offset_y = -141px;
$arr_medium_down_width = 29px;
$arr_medium_down_height = 14px;
$arr_medium_down_total_width = 296px;
$arr_medium_down_total_height = 281px;
$arr_medium_down_image = '../images/sprites/sprites.png';
$arr_medium_down = 203px 141px -203px -141px 29px 14px 296px 281px '../images/sprites/sprites.png' 'arr-medium-down';
$arr_medium_right_name = 'arr-medium-right';
$arr_medium_right_x = 0px;
$arr_medium_right_y = 258px;
$arr_medium_right_offset_x = 0px;
$arr_medium_right_offset_y = -258px;
$arr_medium_right_width = 12px;
$arr_medium_right_height = 23px;
$arr_medium_right_total_width = 296px;
$arr_medium_right_total_height = 281px;
$arr_medium_right_image = '../images/sprites/sprites.png';
$arr_medium_right = 0px 258px 0px -258px 12px 23px 296px 281px '../images/sprites/sprites.png' 'arr-medium-right';
$arr_medium_up_name = 'arr-medium-up';
$arr_medium_up_x = 52px;
$arr_medium_up_y = 174px;
$arr_medium_up_offset_x = -52px;
$arr_medium_up_offset_y = -174px;
$arr_medium_up_width = 29px;
$arr_medium_up_height = 14px;
$arr_medium_up_total_width = 296px;
$arr_medium_up_total_height = 281px;
$arr_medium_up_image = '../images/sprites/sprites.png';
$arr_medium_up = 52px 174px -52px -174px 29px 14px 296px 281px '../images/sprites/sprites.png' 'arr-medium-up';
$arr_pixel_left_name = 'arr-pixel-left';
$arr_pixel_left_x = 285px;
$arr_pixel_left_y = 149px;
$arr_pixel_left_offset_x = -285px;
$arr_pixel_left_offset_y = -149px;
$arr_pixel_left_width = 7px;
$arr_pixel_left_height = 14px;
$arr_pixel_left_total_width = 296px;
$arr_pixel_left_total_height = 281px;
$arr_pixel_left_image = '../images/sprites/sprites.png';
$arr_pixel_left = 285px 149px -285px -149px 7px 14px 296px 281px '../images/sprites/sprites.png' 'arr-pixel-left';
$arr_pixel_right_name = 'arr-pixel-right';
$arr_pixel_right_x = 285px;
$arr_pixel_right_y = 130px;
$arr_pixel_right_offset_x = -285px;
$arr_pixel_right_offset_y = -130px;
$arr_pixel_right_width = 7px;
$arr_pixel_right_height = 14px;
$arr_pixel_right_total_width = 296px;
$arr_pixel_right_total_height = 281px;
$arr_pixel_right_image = '../images/sprites/sprites.png';
$arr_pixel_right = 285px 130px -285px -130px 7px 14px 296px 281px '../images/sprites/sprites.png' 'arr-pixel-right';
$arr_right_name = 'arr-right';
$arr_right_x = 261px;
$arr_right_y = 88px;
$arr_right_offset_x = -261px;
$arr_right_offset_y = -88px;
$arr_right_width = 19px;
$arr_right_height = 37px;
$arr_right_total_width = 296px;
$arr_right_total_height = 281px;
$arr_right_image = '../images/sprites/sprites.png';
$arr_right = 261px 88px -261px -88px 19px 37px 296px 281px '../images/sprites/sprites.png' 'arr-right';
$arr_square_down_name = 'arr-square-down';
$arr_square_down_x = 238px;
$arr_square_down_y = 113px;
$arr_square_down_offset_x = -238px;
$arr_square_down_offset_y = -113px;
$arr_square_down_width = 17px;
$arr_square_down_height = 23px;
$arr_square_down_total_width = 296px;
$arr_square_down_total_height = 281px;
$arr_square_down_image = '../images/sprites/sprites.png';
$arr_square_down = 238px 113px -238px -113px 17px 23px 296px 281px '../images/sprites/sprites.png' 'arr-square-down';
$arr_up_name = 'arr-up';
$arr_up_x = 86px;
$arr_up_y = 174px;
$arr_up_offset_x = -86px;
$arr_up_offset_y = -174px;
$arr_up_width = 29px;
$arr_up_height = 14px;
$arr_up_total_width = 296px;
$arr_up_total_height = 281px;
$arr_up_image = '../images/sprites/sprites.png';
$arr_up = 86px 174px -86px -174px 29px 14px 296px 281px '../images/sprites/sprites.png' 'arr-up';
$arr_xl_right_name = 'arr-xl-right';
$arr_xl_right_x = 17px;
$arr_xl_right_y = 258px;
$arr_xl_right_offset_x = -17px;
$arr_xl_right_offset_y = -258px;
$arr_xl_right_width = 12px;
$arr_xl_right_height = 23px;
$arr_xl_right_total_width = 296px;
$arr_xl_right_total_height = 281px;
$arr_xl_right_image = '../images/sprites/sprites.png';
$arr_xl_right = 17px 258px -17px -258px 12px 23px 296px 281px '../images/sprites/sprites.png' 'arr-xl-right';
$calendar_name = 'calendar';
$calendar_x = 20px;
$calendar_y = 228px;
$calendar_offset_x = -20px;
$calendar_offset_y = -228px;
$calendar_width = 19px;
$calendar_height = 20px;
$calendar_total_width = 296px;
$calendar_total_height = 281px;
$calendar_image = '../images/sprites/sprites.png';
$calendar = 20px 228px -20px -228px 19px 20px 296px 281px '../images/sprites/sprites.png' 'calendar';
$cart_blue_name = 'cart-blue';
$cart_blue_x = 52px;
$cart_blue_y = 193px;
$cart_blue_offset_x = -52px;
$cart_blue_offset_y = -193px;
$cart_blue_width = 20px;
$cart_blue_height = 20px;
$cart_blue_total_width = 296px;
$cart_blue_total_height = 281px;
$cart_blue_image = '../images/sprites/sprites.png';
$cart_blue = 52px 193px -52px -193px 20px 20px 296px 281px '../images/sprites/sprites.png' 'cart-blue';
$cart_secondary_name = 'cart-secondary';
$cart_secondary_x = 77px;
$cart_secondary_y = 193px;
$cart_secondary_offset_x = -77px;
$cart_secondary_offset_y = -193px;
$cart_secondary_width = 20px;
$cart_secondary_height = 20px;
$cart_secondary_total_width = 296px;
$cart_secondary_total_height = 281px;
$cart_secondary_image = '../images/sprites/sprites.png';
$cart_secondary = 77px 193px -77px -193px 20px 20px 296px 281px '../images/sprites/sprites.png' 'cart-secondary';
$cart_name = 'cart';
$cart_x = 261px;
$cart_y = 200px;
$cart_offset_x = -261px;
$cart_offset_y = -200px;
$cart_width = 23px;
$cart_height = 23px;
$cart_total_width = 296px;
$cart_total_height = 281px;
$cart_image = '../images/sprites/sprites.png';
$cart = 261px 200px -261px -200px 23px 23px 296px 281px '../images/sprites/sprites.png' 'cart';
$check_name = 'check';
$check_x = 261px;
$check_y = 57px;
$check_offset_x = -261px;
$check_offset_y = -57px;
$check_width = 30px;
$check_height = 26px;
$check_total_width = 296px;
$check_total_height = 281px;
$check_image = '../images/sprites/sprites.png';
$check = 261px 57px -261px -57px 30px 26px 296px 281px '../images/sprites/sprites.png' 'check';
$cherry_name = 'cherry';
$cherry_x = 153px;
$cherry_y = 193px;
$cherry_offset_x = -153px;
$cherry_offset_y = -193px;
$cherry_width = 15px;
$cherry_height = 15px;
$cherry_total_width = 296px;
$cherry_total_height = 281px;
$cherry_image = '../images/sprites/sprites.png';
$cherry = 153px 193px -153px -193px 15px 15px 296px 281px '../images/sprites/sprites.png' 'cherry';
$clock_white_name = 'clock-white';
$clock_white_x = 261px;
$clock_white_y = 172px;
$clock_white_offset_x = -261px;
$clock_white_offset_y = -172px;
$clock_white_width = 24px;
$clock_white_height = 23px;
$clock_white_total_width = 296px;
$clock_white_total_height = 281px;
$clock_white_image = '../images/sprites/sprites.png';
$clock_white = 261px 172px -261px -172px 24px 23px 296px 281px '../images/sprites/sprites.png' 'clock-white';
$cross_name = 'cross';
$cross_x = 193px;
$cross_y = 193px;
$cross_offset_x = -193px;
$cross_offset_y = -193px;
$cross_width = 14px;
$cross_height = 15px;
$cross_total_width = 296px;
$cross_total_height = 281px;
$cross_image = '../images/sprites/sprites.png';
$cross = 193px 193px -193px -193px 14px 15px 296px 281px '../images/sprites/sprites.png' 'cross';
$feature1_name = 'feature1';
$feature1_x = 0px;
$feature1_y = 174px;
$feature1_offset_x = 0px;
$feature1_offset_y = -174px;
$feature1_width = 47px;
$feature1_height = 49px;
$feature1_total_width = 296px;
$feature1_total_height = 281px;
$feature1_image = '../images/sprites/sprites.png';
$feature1 = 0px 174px 0px -174px 47px 49px 296px 281px '../images/sprites/sprites.png' 'feature1';
$feature2_name = 'feature2';
$feature2_x = 261px;
$feature2_y = 0px;
$feature2_offset_x = -261px;
$feature2_offset_y = 0px;
$feature2_width = 35px;
$feature2_height = 52px;
$feature2_total_width = 296px;
$feature2_total_height = 281px;
$feature2_image = '../images/sprites/sprites.png';
$feature2 = 261px 0px -261px 0px 35px 52px 296px 281px '../images/sprites/sprites.png' 'feature2';
$feature3_name = 'feature3';
$feature3_x = 180px;
$feature3_y = 82px;
$feature3_offset_x = -180px;
$feature3_offset_y = -82px;
$feature3_width = 53px;
$feature3_height = 54px;
$feature3_total_width = 296px;
$feature3_total_height = 281px;
$feature3_image = '../images/sprites/sprites.png';
$feature3 = 180px 82px -180px -82px 53px 54px 296px 281px '../images/sprites/sprites.png' 'feature3';
$label_name = 'label';
$label_x = 102px;
$label_y = 193px;
$label_offset_x = -102px;
$label_offset_y = -193px;
$label_width = 21px;
$label_height = 19px;
$label_total_width = 296px;
$label_total_height = 281px;
$label_image = '../images/sprites/sprites.png';
$label = 102px 193px -102px -193px 21px 19px 296px 281px '../images/sprites/sprites.png' 'label';
$mail_name = 'mail';
$mail_x = 44px;
$mail_y = 228px;
$mail_offset_x = -44px;
$mail_offset_y = -228px;
$mail_width = 17px;
$mail_height = 16px;
$mail_total_width = 296px;
$mail_total_height = 281px;
$mail_image = '../images/sprites/sprites.png';
$mail = 44px 228px -44px -228px 17px 16px 296px 281px '../images/sprites/sprites.png' 'mail';
$marker_blue_name = 'marker-blue';
$marker_blue_x = 238px;
$marker_blue_y = 82px;
$marker_blue_offset_x = -238px;
$marker_blue_offset_y = -82px;
$marker_blue_width = 18px;
$marker_blue_height = 26px;
$marker_blue_total_width = 296px;
$marker_blue_total_height = 281px;
$marker_blue_image = '../images/sprites/sprites.png';
$marker_blue = 238px 82px -238px -82px 18px 26px 296px 281px '../images/sprites/sprites.png' 'marker-blue';
$marker_field_name = 'marker-field';
$marker_field_x = 285px;
$marker_field_y = 108px;
$marker_field_offset_x = -285px;
$marker_field_offset_y = -108px;
$marker_field_width = 11px;
$marker_field_height = 15px;
$marker_field_total_width = 296px;
$marker_field_total_height = 281px;
$marker_field_image = '../images/sprites/sprites.png';
$marker_field = 285px 108px -285px -108px 11px 15px 296px 281px '../images/sprites/sprites.png' 'marker-field';
$marker_pixel_name = 'marker-pixel';
$marker_pixel_x = 285px;
$marker_pixel_y = 88px;
$marker_pixel_offset_x = -285px;
$marker_pixel_offset_y = -88px;
$marker_pixel_width = 11px;
$marker_pixel_height = 15px;
$marker_pixel_total_width = 296px;
$marker_pixel_total_height = 281px;
$marker_pixel_image = '../images/sprites/sprites.png';
$marker_pixel = 285px 88px -285px -88px 11px 15px 296px 281px '../images/sprites/sprites.png' 'marker-pixel';
$marker_name = 'marker';
$marker_x = 180px;
$marker_y = 141px;
$marker_offset_x = -180px;
$marker_offset_y = -141px;
$marker_width = 18px;
$marker_height = 26px;
$marker_total_width = 296px;
$marker_total_height = 281px;
$marker_image = '../images/sprites/sprites.png';
$marker = 180px 141px -180px -141px 18px 26px 296px 281px '../images/sprites/sprites.png' 'marker';
$paper_plane_name = 'paper-plane';
$paper_plane_x = 128px;
$paper_plane_y = 193px;
$paper_plane_offset_x = -128px;
$paper_plane_offset_y = -193px;
$paper_plane_width = 20px;
$paper_plane_height = 15px;
$paper_plane_total_width = 296px;
$paper_plane_total_height = 281px;
$paper_plane_image = '../images/sprites/sprites.png';
$paper_plane = 128px 193px -128px -193px 20px 15px 296px 281px '../images/sprites/sprites.png' 'paper-plane';
$phone_name = 'phone';
$phone_x = 173px;
$phone_y = 193px;
$phone_offset_x = -173px;
$phone_offset_y = -193px;
$phone_width = 15px;
$phone_height = 15px;
$phone_total_width = 296px;
$phone_total_height = 281px;
$phone_image = '../images/sprites/sprites.png';
$phone = 173px 193px -173px -193px 15px 15px 296px 281px '../images/sprites/sprites.png' 'phone';
$service1_name = 'service1';
$service1_x = 0px;
$service1_y = 86px;
$service1_offset_x = 0px;
$service1_offset_y = -86px;
$service1_width = 80px;
$service1_height = 83px;
$service1_total_width = 296px;
$service1_total_height = 281px;
$service1_image = '../images/sprites/sprites.png';
$service1 = 0px 86px 0px -86px 80px 83px 296px 281px '../images/sprites/sprites.png' 'service1';
$service2_name = 'service2';
$service2_x = 0px;
$service2_y = 0px;
$service2_offset_x = 0px;
$service2_offset_y = 0px;
$service2_width = 91px;
$service2_height = 81px;
$service2_total_width = 296px;
$service2_total_height = 281px;
$service2_image = '../images/sprites/sprites.png';
$service2 = 0px 0px 0px 0px 91px 81px 296px 281px '../images/sprites/sprites.png' 'service2';
$service3_name = 'service3';
$service3_x = 96px;
$service3_y = 0px;
$service3_offset_x = -96px;
$service3_offset_y = 0px;
$service3_width = 79px;
$service3_height = 81px;
$service3_total_width = 296px;
$service3_total_height = 281px;
$service3_image = '../images/sprites/sprites.png';
$service3 = 96px 0px -96px 0px 79px 81px 296px 281px '../images/sprites/sprites.png' 'service3';
$service4_name = 'service4';
$service4_x = 96px;
$service4_y = 86px;
$service4_offset_x = -96px;
$service4_offset_y = -86px;
$service4_width = 79px;
$service4_height = 79px;
$service4_total_width = 296px;
$service4_total_height = 281px;
$service4_image = '../images/sprites/sprites.png';
$service4 = 96px 86px -96px -86px 79px 79px 296px 281px '../images/sprites/sprites.png' 'service4';
$service5_name = 'service5';
$service5_x = 180px;
$service5_y = 0px;
$service5_offset_x = -180px;
$service5_offset_y = 0px;
$service5_width = 76px;
$service5_height = 77px;
$service5_total_width = 296px;
$service5_total_height = 281px;
$service5_image = '../images/sprites/sprites.png';
$service5 = 180px 0px -180px 0px 76px 77px 296px 281px '../images/sprites/sprites.png' 'service5';
$smartphone_name = 'smartphone';
$smartphone_x = 0px;
$smartphone_y = 228px;
$smartphone_offset_x = 0px;
$smartphone_offset_y = -228px;
$smartphone_width = 15px;
$smartphone_height = 25px;
$smartphone_total_width = 296px;
$smartphone_total_height = 281px;
$smartphone_image = '../images/sprites/sprites.png';
$smartphone = 0px 228px 0px -228px 15px 25px 296px 281px '../images/sprites/sprites.png' 'smartphone';
$user_name = 'user';
$user_x = 212px;
$user_y = 193px;
$user_offset_x = -212px;
$user_offset_y = -193px;
$user_width = 12px;
$user_height = 15px;
$user_total_width = 296px;
$user_total_height = 281px;
$user_image = '../images/sprites/sprites.png';
$user = 212px 193px -212px -193px 12px 15px 296px 281px '../images/sprites/sprites.png' 'user';
$spritesheet_width = 296px;
$spritesheet_height = 281px;
$spritesheet_image = '../images/sprites/sprites.png';
$spritesheet_sprites = $a $arr_down $arr_left $arr_medium_down $arr_medium_right $arr_medium_up $arr_pixel_left $arr_pixel_right $arr_right $arr_square_down $arr_up $arr_xl_right $calendar $cart_blue $cart_secondary $cart $check $cherry $clock_white $cross $feature1 $feature2 $feature3 $label $mail $marker_blue $marker_field $marker_pixel $marker $paper_plane $phone $service1 $service2 $service3 $service4 $service5 $smartphone $user;
$spritesheet = 296px 281px '../images/sprites/sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
